<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel="stylesheet", href="css/styles.css")
		link(rel="stylesheet", href="css/fontawesome/css/all.min.css")
	body
		header(class="header")
			i(class="far fa-gem header__logo")
			h1(class="header__h1") Business 
				br 
				| conference 2020
			div(class="header__container")
				span(class="header__span") topic
				h2(class="header__h2") how you can keep your business going
		section(class="septionGuests")
			span(class="septionGuests__span") Our guest
			div(class="septionGuests__container")
				article(class="septionGuests__article1")
					span Lorem.
					img(alt="guest man", srcset="images/man-small.png 200w, images/man.png 429w",sizes="(min-width=75rem) 8vw, 100vw",src="images/man.png")
					h4 Lorem, ipsum dolor.
					p Lorem ipsum dolor sit amet consectetur.
				article(class="septionGuests__article1--2")
					span Lorem.
					img(srcset="images/woman-small.png 200w, images/woman.png 429w",sizes="(min-width=75rem) 8vw, (min-width=75rem) 100vw", alt="", src="images/woman.png")
					h4 Lorem, ipsum dolor.
					p Lorem ipsum dolor sit amet consectetur.
				article(class="septionGuests__article1--3")
					span Lorem.
					img(srcset="images/woman1-small.png 200w, images/woman1.png 429w",sizes="(min-width=75rem) 8vw, (min-width=75rem) 100vw", alt="", src="imges/woman-1.png")
					h4 Lorem, ipsum dolor.
					p Lorem ipsum dolor sit amet consectetur.
		aside(class="aside")
			ul(class="aside__ul")
				li(class="aside__li") 17 / 18
					br
					| march 2020
				li(class="aside__li--2") from 08 am
					br
					| to 05 pm
				li(class="aside__li--3") 2478
					br
					| counts len					 
			small 
				b More info on:                
				a(class="aside__visitUrl",href="www.yourwebsite.com") www.yourwebsite.com
		footer(class="footer")
			article(class="footer__container")
				ul(class="footer__ul")
					li(class="footer__li") /conference
					li(class="footer__li--2") /conference
					li(class="footer__li--3") /conference
					li(class="footer__li--4") /conference
				span(class="footer__span") sponsored by Learning
				
		

