body {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(transparent, 20%), color-stop(#6a8de2, 20%));
  background: -webkit-linear-gradient(bottom, 20% transparent, 20% #6a8de2);
  background: -o-linear-gradient(bottom, 20% transparent, 20% #6a8de2);
  background: linear-gradient(to top, 20% transparent, 20% #6a8de2); }
