@import "../utilities/variables";
.footer{
    width: 100%;
    background-color: $backgroud-color-footer;
    color: $color-letters;
    margin: auto;
}
.footer__container{
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.footer__ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;    
}
.footer__li{
    width: 50%;
    padding: .5rem 0;
    display: flex; 
    align-items: center; 
    
     
}
.link{
    transition: transform .2s ease-in-out;
    &:hover{
        color:darken($color: $color-letters, $amount: 10%);
    }
    &:active{
        color:darken($color: $color-letters, $amount: 40%);
        transform:scale(0.9);      
    }
    &::before{
        font-size: 1.5rem;
        margin-right: .5rem;
        color: $color-letters;
    } 
    &:hover::before{
        color:darken($color: $color-letters, $amount: 10%);
    }
    &:active::before{
        color:darken($color: $color-letters, $amount: 40%);
       
    }
}

.footer__span{
 margin-bottom: 1rem;
 
}
@media (min-width:36rem){
    .footer__ul{
        flex-wrap: nowrap;
    }
    .footer__li{      
        flex-grow: 1;
    }
}
@media (min-width:48rem){
    .footer__container{
        flex-direction: row;
        justify-items: center;
    }
    .footer__ul{
        flex: 3;
    }
    .footer__span{
        flex: 1;
        justify-self: baseline;
    }
    .link{
        &::before{
            font-size: 2rem;
            margin-right: .6rem;           
        } 
    }
   
}
@media (min-width:62rem){
    .footer__container{
        width: 80%;
    }  
    .link{
        &::before{
            font-size: 2.5rem;
            margin-right: .7rem;           
        } 
    }  
   
}

