.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: white;
    position: relative;
    
    >*{
        margin-bottom: 1rem;
        padding: .5rem 0;
        height: auto;
    }
   
}
.header__logo{
    font-size: 3rem;
}
.header__h1{
    font-size: 2rem;
    margin-top: 0;
    width: auto;
   
    &::first-line{
        text-transform: uppercase;
        font-size: 4rem;
    }
}
.header__h2{
   
}
.header__container{
    padding: 1rem 0;
    border: .1rem white solid;
    border-left: 0;
    border-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    >*{
    padding: .5rem;
    }
}
.header__span{
 
}

@media (min-width:36rem){
    .header{
        >*{
            margin-bottom: 1.5rem;
        }
    }
    .header__h1{
        font-size: 3rem;
        &::first-line{
            font-size: 6rem;
        }
    }
    .header__container{
        width: auto;
    }
    .header__logo{
        font-size: 4rem;
    }
    
}
@media (min-width:48rem){
    .header{
        padding-top: 2rem;
        >*{
            margin-bottom: 2rem;
        }
    }
    .header__h1{
        font-size: 4rem;
        &::first-line{
            font-size: 8rem;
        }
    }
    .header__logo{
        font-size: 5rem;
    }
}
@media (min-width:62rem){
    .header{
        >*{
            margin-bottom: 2.5rem;
        }
    }
    .header__h1{
        font-size: 5rem;
        &::first-line{
            font-size: 10rem;
        }
    }
    .header__logo{
        font-size: 6rem;
    }
}
@media (min-width:75rem){
    .header{
        >*{
            margin-bottom: 3rem;
        }
    }
    .header__h1{
        font-size: 6rem;
        &::first-line{
            font-size: 12rem;
        }
    }
    .header__logo{
        font-size: 7rem;
    }
}